extends layout

block content

    div.row-fluid(ng:controller="MainCtrl")

        div.span4
            ul.list.nav.nav-list
                li(ng:repeat="match in matchs", ng:click="onMatchClick(match)", ng:class="getMatchCls(match)")
                    a
                        i.icon-chevron-right
                        |{{match.name}}
                    //- span.date {{match.date}}

        div.span8

            div#player

            ul.thumbnails
                li.span3(ng:repeat="video in videos", ng:init="id = video.media$group.yt$videoid.$t", ng:click="onVideoClick(video)", ng:class="getVideoCls(video)")
                    div.loader(ng:show="video.loading")
                    a.thumbnail(ng:show="video.id")
                        img(ng:src="{{video.media$group.media$thumbnail[1].url}}", width="{{video.media$group.media$thumbnail[1].width}}", height="{{video.media$group.media$thumbnail[1].height}}", alt="")
                        div.caption
                            h5 {{video.title.$t}}

            div.clearfix
