doctype 5
html(ng:app)
    head
        title ASPTTB VIDEOS
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body

        div.header
            div.container
                h1
                    a(href="http://asptt.chewam.com/") ASPTTB VIDEOS

        div.container
            block content

        script(src="/js/angular.min.js")
        // script(src="/js/jquery.min.js")
        // script(src="/js/bootstrap-transition.js")
        // script(src="/js/bootstrap-collapse.js")
        script(src="/js/index.js")

        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23513301-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
