doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="http://vjs.zencdn.net/c/video-js.css", rel="stylesheet")
        script(src="http://vjs.zencdn.net/c/video.js")
    body
        block content
