.header {
    background-color: #F5F5F5;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

h1 a {
    color: #ddd;
    text-shadow: 0 2px 3px #fff;
}

h1 a:hover {
    color: #ddd;
    text-decoration: none;
}

table .icon {
    width: 20px;
}

table .download {
    width: 40px;
}

table .size {
    width: 60px;
    text-align: right;
}

.modal:focus {
    outline: 0;
}

.error-404 {
    margin-top: 200px;
    font-size: 200px;
    text-align: center;
    line-height: 200px;
}

.error-404-msg {
    font-size: 16px;
    line-height: 18px;
}
